


header img {
    
    width: 100px;
    

}


.carousel {
    margin-top: 20px;
    width: 100px; /* Ajuste o tamanho conforme necessário */
}

.carousel-item img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 5px;
}

#carouselExampleIndicators, #carouselExampleIndicators2, #carouselExampleIndicators3, #carouselExampleIndicators4 {
    width: 100px; /* Ajuste o tamanho conforme necessário */
}

.carousel-indicators {
    width: 40px; /* Ajuste as barras */
    margin: 10px auto 10px auto; /* Ajuste as barras */
    left: 15px;
    bottom: -12px;
}


